<div class="row"></div>
<div class="container">
 <div class="row">
    <div class="col s12 m9 l10">
      <div id="introduction" class="section scrollspy">
      <blockquote>
        <h5>Craetives</h5>
      </blockquote>
          <ul class="collection">
            <% @creatives.each do |creative| %>
              <li class="collection-item avatar">

                <i class="material-icons circle blue">description</i>
                <p><span>R$ <%= creative.bid %></span> </p> <br>
                <p><%= creative.adtext %> </p> 
                <a href="#!" class="secondary-content"><i class="material-icons">mode_edit</i></a>
              </li>
            <% end %>
          </ul>
      </div>

      <div id="structure" class="section scrollspy">
        <blockquote>
          <h5>Targetings</h5>
        </blockquote>
        <ul class="collection">
            <% @targets.each do |target| %>
              <li class="collection-item avatar">
                
                <i class="material-icons circle yellow">description</i>
                <p><%= target.gender %> </p> <br>
                <div class="chip">
                  Tag
                  <i class="material-icons">close</i>
                </div>
                <a href="#!" class="secondary-content"><i class="material-icons">mode_edit</i></a>
              </li>
            <% end %>
          </ul>
        
      </div>

    </div>
    <div class="col hide-on-small-only m3 l2">
      <ul class="section table-of-contents">
        <li><a href="#introduction">Introduction</a></li>
        <li><a href="#structure">Structure</a></li>
      </ul>
    </div>
  </div>
</div>
